################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/ChurchMemberProfile.POC/POCWeb/obj/Debug
